<div class="sidebar-admin">
    <span>Trang quản trị</span>

    <!-- Sidebar Menu -->
    <div class="sidebar-menu">
        <ul class="nav  flex-column">
            <li class="nav-item">
                <a href="/admin">
                    <i class="fa-regular fa-house"></i>
                    <span>Trang chủ</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/author">
                    <i class="fa-regular fa-house"></i>
                    <span>Danh mục tác giả</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/category">
                    <i class="fa-regular fa-house"></i>
                    <span>Danh mục thể loại</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/publisher">
                    <i class="fa-regular fa-house"></i>
                    <span>Danh mục nhà xuất bản</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/book">
                    <i class="fa-regular fa-house"></i>
                    <span>Danh mục sách</span>
                </a>
            </li>

        </ul>
    </div>

</div>